@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.trending-slider__title {
  color: #4A2F75;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin: 0;
}

.trending-slider__subtitle {
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}


.trending-slider__image-placeholder {
  background-color: #ccc;
  width: 385px;
  height: 385px;
  border-radius: 10px;
}


.trending-slider__item-title {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #333;
}


.trending-slider__browse-more {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.slick-next {
  margin-top: -32px;
  left: 90vw;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  font-size: 48px !important;
}