@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.trending-slider__title {
  color: #4a2f75;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin: 0;
}

.trending-slider__subtitle {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.trending-slider__image-placeholder {
  background-color: #ccc;
  width: 385px;
  height: 385px;
  border-radius: 10px;
}

.trending-slider__item-title {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #333;
}

.trending-slider__browse-more {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.trending .slick-next {
  top: 40%;
  left: 92.5%;
  right: -25px;
}

.trending .slick-prev:before {
  display: none;
}

.slick-next {
  right: 40px !important;
}

.slick-prev {
  left: 18px !important;
  z-index: 100;
}

/* Default untuk semua layar */
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

/* Untuk ukuran medium dan ke atas */
@media (min-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 48px !important;
  }
}

.accordion-group {
  border-radius: 4px;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-toggle {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.75rem 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .accordion-toggle.active {} */

.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  /* Smooth transition effect */
  max-height: 0;
  /* Hidden by default */
}

.accordion-content.open {
  max-height: 1000px;
  /* Set a large enough max-height to accommodate content */
}

.accordion-content-inner {
  padding: 3px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-slide div {
  outline: none;
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 2s ease infinite;
  -moz-animation: animation 2s ease infinite;
  animation: animation 2s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.darkgray .slick-prev:before,
.darkgray .slick-next:before {
  color: rgb(198, 198, 198) !important;
}
